@{
    ViewBag.Title = "Postes"; Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Globalization; @{
    CultureInfo french = new CultureInfo("fr-FR");
}
@model IEnumerable<Compagnie>;

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Accueil</a></li>
            <li class="breadcrumb-item active">Compagies d'évaluation</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Liste des compagnies</h5>

                    <!-- Table with stripped rows -->
                    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-top">
                           
                            <div class="datatable-search">
                                <a class="btn btn-outline-primary" href="@Url.Action("create", "Compagnie")">Ajouter</a>
                            </div>
                        </div>
                        <div class="datatable-container">
                            <table id="datatable" class="display">
                                <thead>
                                    <tr>
                                        <th>Id </th>
                                        <th>Employée</th> 
                                        <th>Date début</th>
                                        <th>Date fin</th>
                                        <th>Réponse</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 
                                    @foreach (var compagnie in Model)
                                    {
                                        <tr >
                                            <td>@compagnie.id</td>
                                            <td>@(compagnie.employee.Nom + " "+compagnie.employee.preNom) </td>
                                            <td>@compagnie.dateDebut.ToString("dd/MM/yyyy") </td>   
                                            <td>@compagnie.dateFin.ToString("dd/MM/yyyy") </td>
                                            <td>@compagnie.compagnieQuestions.Where(x=>x.reponses != null).Select(x=>x.reponses).Count()</td>
                                            <td>
                                               Consulter les réponses
                                            </td>
                                        </tr>
                                         


                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</section>
