@{
    ViewBag.Title = "Postes"; Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Globalization; @{
    CultureInfo french = new CultureInfo("fr-FR");
}
@model IEnumerable<Poste>;

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Accueil</a></li>
            <li class="breadcrumb-item active">Postes</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Liste des Postes</h5>

                    <!-- Table with stripped rows -->
                    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-top">

                            <div class="datatable-search">
                                <a class="btn btn-outline-primary" href="@Url.Action("create", "Poste")">Ajouter</a>
                            </div>
                        </div>
                        <div class="datatable-container">
                            <table id="datatable" class="display">
                                <thead>
                                    <tr>
                                        <th>Id </th>
                                        <th>Nom</th>
                                        <th>Direction</th>
                                        <th>Employéé</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var poste in Model)
                                    {
                                        <tr>
                                            <td>@poste.Id</td>
                                            <td>@poste.libelle</td>
                                            <td>
                                                @(poste.Direction != null? Html.Raw($"<a>{poste.Direction.name}</a>"): Html.Raw("N/A"))
                                            </td>
                                            <td>
                                                @(poste.users != null ? poste.users.Count() : 0)
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-success" href="@Url.Action("edit","Poste",new { id =poste.Id})">Modifier</a> |
                                                @if (poste.users.Count() == 0)
                                                {
                                                    <a class="btn btn-outline-danger"href="@Url.Action("delete","Poste",new { id =poste.Id})">supprimer</a>
                                                }else{
                                                <a class="btn btn-outline-danger disabled" onclick="return false;">supprimer</a>
                                                }
                                            </td>
                                        </tr>



                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</section>
