@model AxeEval

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-tile">
                <h1>Modifier axe</h1>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-theme-6" })
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(m => m.name, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary">Enregistrer</button>
            }
        </div>
    </div>
</div>