@model Compagnie

@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<link href="@Url.Content("~/css/style.css")" rel="stylesheet">
<script src="@Url.Content("~/js/jquery-3.7.0.min.js")"></script>
<script src="@Url.Content("~/js/select2.min.js")"></script>

<script>
    $(document).ready(function() {
        // Check All checkbox click event
        $(".checkAll").click(function() {
            var axeValue = $(this).val();

            var checkboxes = $("input[data-axe='" + axeValue + "']");

            $(checkboxes).prop("checked", $(this).prop("checked"));
        });
    });



</script>
<style>
       .line {
        display: flex;
    }

    .radio-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
    }
</style>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h1>Ajouter une compagnie d'évaluation</h1>
            </div>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-theme-6" })
                <div class="row">
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(m => m.title,"Titre", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.title ,new {@class = "form-control", @disabled="disabled" })
                        @Html.ValidationMessageFor(m => m.title, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(m => m.employee,"Employée à évaluer", new { @class = "form-label" })
                        @Html.DropDownListFor(m => m.userId,(SelectList) ViewBag.employeeList, "Selectionner un Employé", new { @class = "form-control", @disabled="disabled"  })
                        @Html.ValidationMessageFor(m => m.employee, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(m => m.qualiteEvaluateur,"Qualité de l’évaluateur", new { @class = "form-label" })
                        @Html.DropDownList("qualiteEvaluateur", new SelectList(new[]
                    {
                    new SelectListItem { Value = "Autoévaluation", Text = "Autoévaluation" },
                    new SelectListItem { Value = "Hiérarchie", Text = "Hiérarchie" },
                    new SelectListItem { Value = "Collègue", Text = "Collègue" },
                    new SelectListItem { Value = "Collaborateur", Text = "Collaborateur" }
                    }, "Value", "Text"), "Selectionner la Qualité de l’évaluateur ", new { @class = "form-control" , @disabled="disabled" })
                        @Html.ValidationMessageFor(m => m.qualiteEvaluateur, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(m => m.dateDebut,"Date début", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.dateDebut,"{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", @disabled = "disabled"  })
                        @Html.ValidationMessageFor(m => m.dateDebut, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(m => m.dateFin,"Date fin", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.dateFin, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.dateFin, "", new { @class = "text-danger" })
                    </div>

                    <div class="row">


                        @foreach (var axe in (IEnumerable<AxeEval>)ViewBag.axe)
                        {
                            if ((((IEnumerable<CompagnieQuestion>)ViewBag.compagnieQuestion).Any(x => x.question.idAxe == axe.id)))
                            {


                                <div class="mb-3 col-md-6 ">
                                    <div class="ml-5">
                                        <label>
                                            <input type="checkbox" class="checkAll" name="axe" value="@axe.id">
                                            <span class="h4">@axe.name</span>
                                        </label>
                                    </div>

                                    @foreach (var question in ((IEnumerable<CompagnieQuestion>)ViewBag.compagnieQuestion).Where(q => q.question.idAxe == axe.id))
                                    {
                                        <div class="line">
                                            <label>
                                                @question.question.libelle
                                                @for (int j = 1; j <= 5; j++)
                                                {
                                                    <div class="radio-wrapper">
                                                        <input type="radio" name="@question.id" value="@j" id="@question.id">
                                                        <label for="@question.id">@j</label>
                                                    </div>
                                                }
                                            </label>
                                        </div>
                                    }
                                </div>
                            }
                        }

                    </div>

                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            }
        </div>
    </div>
</div>
